.kt-sticky-toolbar {
  width: 46px;
  position: fixed;
  top: 30%;
  /* right: 0; */
  list-style: none;
  padding: 5px 0;
  /* margin: 0; */
  z-index: 50;
  /*background: #fff;*/
  }
#st-content{
  background-image : url('gmap.png');
  background-size: cover;
  background-repeat : no-repeat;
}
#footer-info{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #A2A2A1FF;
  /*line-height: 2;*/
  /*text-align: center;*/
  color: #333D79FF;
  /*color:#fff;*/
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 200;
  padding-top: 10px;
  /*text-shadow: 0 1px 0 #84BAFF;
  box-shadow: 0 0 15px #00214B;*/
}

#footer-info:hover{
  text-decoration: none;
  color:#fff;
}

#sticky-button{
  width: 100%;
  padding:10px;
  margin: 0px;
}

.dummy-logo {
    /*position: fixed;*/
   /* top: 0;
    left: 0;
    width: 300px;*/
    /*height: 120px;*/
   /* padding: 1em 0 0 0;*/
    text-align: center;
    color: #3b3d4a;
    /*background: #1c1d22;*/
}