/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
.number{
  font-size:46px;
  font-weight: 400;
  /*width: 7ch;*/
}
.description{
  font-size:14px;
  font-weight: 400;
}
.p-t-25{
    padding-top: 25px;
}
.p-t-50{
  padding-top: 50px;
}
.p-t-75{
  padding-top: 75px;
}
.p-10{
    padding: 10px;
}
.p-r-10{
    padding-right: 10px;
}
.f-s-60{
  font-size: 60px;
}
.time{
  font-size:90px;
}
.f-s-12{
  font-size: 12px !important;
}
.info {
    color: inherit;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    /*width: 7ch;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* The image used */
  background-image:  linear-gradient(0deg, rgba(0,0,0,0.5018382352941176) 0%, 
      rgba(0,0,0,0) 30%, 
      rgba(0,0,0,0) 60%, 
      rgba(0,0,0,0.9) 100%),url("image/ship1.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
    height: 100%;
    align-content: center;
    padding: 30px;
  }
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
    background:url('../images/bg2.jpg') no-repeat 62% 90%;
    background-size: cover;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
}

/*--header--*/

.header-w3l{
    margin: 45px;
}
.header-w3l h1{
	font-size:3em;
    color:white;
    letter-spacing: 6px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
/*--//header--*/

/*--main--*/

.main-content-agile {
    padding: 100px 0px 0px;
}
.sub-main-w3 input[type="text"],.sub-main-w3 input[type="password"] {
    outline: none;
    font-size: 1.1em;
    padding: 20px 10px 20px 10px;
    border: none;
    margin: 0 0 15px 0;
    font-family: 'Open Sans', sans-serif;
    background: rgba(0,0,0,0.5) !important;;
    border-bottom: 2px solid #eee;
    width: 20%;
    color: white;
    font-weight: 600;
}
.sub-main-w3 input[type="submit"] {
	background: url('https://demo.w3layouts.com/demos_new/02-01-2017/transparent_login_form-demo_Free/360512575/web/images/arrow.png') no-repeat 30% 45%;
    height: 67px;
    outline: none;
    margin-top: 38px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    width: 67px;
}
/*--//main--*/

/*--footer--*/
.footer {
    padding: 2.3em 0;
}
.footer p {
    font-size: .9em;
    color: white;
}
.footer p a {
    color: #d20962;
}
.footer p a:hover {
   text-decoration:underline;
}
/*--//footer--*/

/*--placeholder-color--*/

::-webkit-input-placeholder{
	color:rgba(255, 255, 255, 0.65);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.65); 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.65);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.65);  
}
/*--//placeholder-color--*/

/*--responsive--*/

@media(max-width:1440px){
	
}
@media (max-width:1366px){
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"]{
		width:30%;
	}
}	
@media (max-width:1280px){
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:31%;
	}
}
@media (max-width:1024px){
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"]{
		width:32%;
	}
}
@media (max-width:991px){
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:40%;
	}
}
@media(max-width:800px){
	.header-w3l h1 {
		font-size: 39px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:34%;
	}
}
@media(max-width:768px){
	.header-w3l h1 {
		font-size: 36px;
	}
	.main-content-agile {
		margin: 226px 0px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:36%;
	}
}
@media(max-width:736px){
	.header-w3l h1 {
		font-size: 34px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:40%;
		font-size: 0.9em;
	}
	.main-content-agile {
		margin: 181px 0px;
	}
}
@media(max-width:667px){
	.header-w3l h1 {
		font-size: 28px;
	}
	.main-content-agile {
		margin: 124px 0px;
	}
	.header-w3l{
		margin: 38px;
	}
}
@media(max-width:640px){
	.header-w3l h1 {
		font-size: 26px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:42%;
		font-size: 0.9em;
	}
}
@media(max-width:600px){
	.header-w3l h1 {
		font-size: 27px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:46%;
		font-size: 0.9em;
	}
	.header-w3l {
		margin: 52px;
	}
}
@media(max-width:568px){
	.header-w3l h1 {
		font-size: 30px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:48%;
		font-size: 0.9em;
	}
	.header-w3l {
		margin: 24px 0px;
	}
}
@media(max-width:480px){
	.header-w3l{
		margin:48px 0px;
	}
	.header-w3l h1 {
		font-size: 21px;
		letter-spacing: 3px;
		font-weight: 400;
		line-height: 0.7em;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:56%;
		font-size: 0.9em;
	}
	.footer p{
		line-height: 28px;
	}
}
@media(max-width:414px){
	.header-w3l h1 {
		font-size: 28px;
		line-height: 0.7em;
		letter-spacing: 1px;
	}
	.main-content-agile {
		margin: 84px 0px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:60%;
		font-size: 0.9em;
	}
	.footer p{
		line-height: 28px;
	}
	.footer {
		padding: 4.3em 0;
	}
}
@media(max-width:384px){
	.header-w3l h1 {
		font-size: 24px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:64%;
		font-size: 0.9em;
	}
	.footer p{
		line-height: 28px;
	}
}
@media(max-width:375px){
	.footer p{
		line-height: 28px;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:68%;
		font-size: 0.9em;
	}
	.footer {
		padding: 3em 0 1em;
	}
}
@media(max-width:320px){
	.header-w3l {
		margin: 31px 0px;
	}
	.header-w3l h1 {
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 3px;
		line-height: 1.7em;
	}
	.sub-main-w3 input[type="password"],.sub-main-w3 input[type="text"] {
		width:68%;
		font-size: 0.9em;
	}
	.footer p{
		line-height: 28px;
		font-size: 0.9em;
	}
	.main-content-agile {
		margin: 55px 0px;
	}
	 .footer {
		padding: 0em 0 1.1em;
	}
}
/*--//responsive--*/
